extends ../layout/main

block variables
  - var title = ''
  - var pageClass = ''

block content
  main.main-content
    .main__wrapper
      .container.main-container
        .first
          h1 sa

        .second
